nav {
    display: inline-block;
    background-color: transparent;
    height: 80px;
  }
  .glitchy-find {
    background-color: transparent;
    display: flex;
    height: 100%;
    margin: 20px 0 0 30px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .logo img {
    width: max(7%, 80px);
    cursor: pointer;
  }

  .nav-img {
    margin: 20px 30px 0 0;
    width: 40px;
  }
  @media screen and (max-device-width: 640px) {
    .glitchy-find {
        margin: 20px 0 0 20px;
    }
  }