nav.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav.bar a {
  display: inline-block;
  width: max(7%, 80px);
  margin-left: 20px;
  cursor: pointer;
}

nav.bar a img {
  width: max(7%, 80px);
  cursor: pointer;
}

nav div {
  width: fit-content;
  margin: 0 20px 0 0;
}

@media screen and (max-device-width: 640px) {
  img {
    margin: 0 0 0 20px;
  }
}