.home-page {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.home-page p {
    font-size: 1.5rem;
}

.forms {
    width: 50%;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.forms select {
    width: 65%;
    height: 30px;
    margin-right: 10px;
    border: 2px solid #16455a;
    border-radius: 10px;
    cursor: pointer;
}

.forms select > option {
    font-size: 1.5rem;
    font-weight: 500;
}

.forms button {
    background-color: #16455a;
    color: #FFF;
    width: 25%;
    height: max(30px, 3vh);
    border: 2px solid #16455a;
    border-radius: 10px;
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-top: 10vh;
}

.movies .movie-div {
    width: 85%;
}

.movies .movie-div:nth-child(2n) {
    width: 85%;
    margin: 40px 0;
}

.movies .movie-div img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 5%;
}

.movies .movie-div:nth-child(2n) img {
    width: 30%;
    height: 100%;
    float: right;
    margin-left: 5%;
}

@media screen and (max-device-width: 960px) {
    .home-page {
        margin-top: 10%;
    }

    .home-page h1 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        word-wrap: break-word;
    }

    .home-page p {
        font-size: 1rem;
    }

    .forms {
        width: 100%;
        justify-content: center;
    }
    
    .forms select {
        width: max(65%, 200px);
        height: 30px;
    }
    
    .forms button {
        font-size: .7rem;
        width: max(20%, 100px);
    }

    .movies {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        width: 100vw;
    }
    
    .movies .movie-div img {
        width: 55%;
    }

    .movies .movie-div:nth-child(2n) img {
        width: 55%;
    }

}