.home-page {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select, button {
    font-family: inherit;
}

.home-page label {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-page p {
    font-size: 1.2rem;
}

.forms {
    width: max(50%, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.forms select, .forms input {
    width: max(40%, 200px);
    height: 30px;
    margin-right: 10px;
    border: 2px solid #16455a;
    border-radius: 10px;
    cursor: pointer;
}

.forms select > option {
    font-size: 1.5rem;
    font-weight: 500;
}

.forms button {
    background-color: #16455a;
    color: #FFF;
    width: max(20%, 115px);
    height: max(30px, 3vh);
    border: 2px solid #16455a;
    border-radius: 10px;
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin-top: 10vh;
}

.movies .movie-div {
    width: 85%;
}

.movies .movie-div:nth-child(2n) {
    width: 85%;
    margin: 40px 0;
}

.movies .movie-div img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 5%;
}

.movies .movie-div h1{
    width: auto;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.movies .movie-div:nth-child(2n) img {
    width: 30%;
    height: 100%;
    float: right;
    margin-left: 5%;
}

@media screen and (max-device-width: 960px) {
    .home-page {
        margin-top: 10%;
    }

    .home-page h1 {
        font-size: 1.2rem;
        word-wrap: break-word;
    }

    .home-page p {
        font-size: 1rem;
    }

    .home-page label {
        font-size: 1.1rem;
        font-weight: 400;
    }

    .forms {
        width: 100%;
        justify-content: center;
    }
    
    .forms div {
        width: 90%;
    }
    
    .forms select {
        width: max(55%, 150px);
        height: 30px;
    }
    
    .forms button {
        font-size: .7rem;
        width: max(20%, 100px);
    }

    .movies {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        width: 100vw;
    }
    
    .movies .movie-div img {
        width: 55%;
    }

    .movies .movie-div:nth-child(2n) img {
        width: 55%;
    }

}